<!--START footer-->
<footer class="footer">
  <section class="footer-menu-wrapper container">
    <div class="footer-menu__column-link">
      <nav class="footer-menu__links">
        <a href="#" class="footer-menu__link">Услуги и поддержка</a>
        <a href="#" class="footer-menu__link">Сервисы для бизнеса</a>
        <a href="#" class="footer-menu__link">Общая информация </a>
        <a href="#" class="footer-menu__link">Защита бизнеса</a>
      </nav>
    </div>

    <div class="footer-menu__column-link">
      <div class="footer-menu__links">
        <a href="#" class="footer-menu__link">
          service@in-line.ru
        </a>
        <a href="#" class="footer-menu__link">
          8-800-200-74-30
        </a>
      </div>
    </div>
  </section>
</footer>
<!--END footer-->