<!-- START  main question -->
<section class="select">
  <div class="select-wrapper">
    <div class="select-question">
      <div class="select-question__text">Для начала работы ответьте на вопрос,
        есть ли у вас уже существующий бизнес? </div>
    </div>
    <div class="select-buttons">
      <button class="select-buttons__red">Да, у&nbsp;меня уже есть бизнес</button>
      <button class="select-buttons__blue">Нет, но&nbsp;планирую открыть</button>
    </div>
  </div>
</section>
<!--END  main question -->

<section class="services container">

</section>

<!-- START benefits -->
<section class="benefits">
  <div class="benefits-wrapper container">
    <div class="benefits-title title-h2">Преимущества</div>
    <div class="description-benefits">
      <div class="description-benefits__item description-benefits__item--organizations">
        <div class="description-benefits__item-img">
          <img src="/img/images/houses.png" alt="Организации">
        </div>
        <div class="description-benefits__item-numbers">482</div>
        <div class="description-benefits__item-text">Организаций поддержки
          по&nbsp;Российской Федерации</div>
      </div>
      <div class="description-benefits__item description-benefits__item--services">
        <div class="description-benefits__item-img">
          <img src="/img/images/phones.png" alt="Услуги" class="description-benefits__item-img">
        </div>
        <div class="description-benefits__item-numbers">5240</div>
        <div class="description-benefits__item-text">Оказано услуг
          государственной поддержки</div>
      </div>
      <div class="description-benefits__item description-benefits__item--people">
        <div class="description-benefits__item-img">
          <img src="/img/images/people.png" alt="Участники">
        </div>
        <div class="description-benefits__item-numbers">1360</div>
        <div class="description-benefits__item-text">Зарегестрировано
          участников проекта</div>
      </div>
    </div>
  </div>
</section>
<!--END  benefits -->

<!-- START success -->

<section class="success">
  <div class="success-wrapper container">
    <div class="success-title title-h2">Истории успеха</div>
    <div class="success-stories">

      <div class="success-stories-block success-stories-block--first">
        <div class="storie-foto">
          <img src="/img/images/cook.png" alt="Повар">
        </div>
        <div class="description-storie">
          <div class="title-h3">Пекарня &laquo;Русские традиции&raquo;</div>
          <div class="description">
            <div class="highlight">
              <div class="highlight-img"><img src="/img/icons/redSquare.png" alt="Ромбы" class="highlight-image"></div>
              <div class="highlight-text">Как говорит сам Владимир: &laquo;мне хотелось, чтобы все узнали, что такое
                русская кухня&raquo;, &laquo;обьяснить, что она жива&raquo;.</div>
            </div>
            <div class="text">
              Чтобы мини-пекарня стала рентабельным бизнесом, необходимы строгие расчеты, учет рисков и&nbsp;перспектив,
              анализ рынка, налаживание сбыта.
            </div>
            <button class="storie-btn">Читать историю <img src="/img/icons/arrow-right.png" alt="Стрелка"></button>
          </div>
        </div>
      </div>

      <div class="success-stories-block success-stories-block--second">
        <div class="storie-foto">
          <img src="/img/images/avtomaster.png" alt="Автомобильный мастер">
        </div>
        <div class="description-storie">
          <div class="title-h3">Автомастерская</div>
          <div class="description">
            <div class="highlight">
              <div class="highlight-img"><img src="/img/icons/redSquare.png" alt="Ромбы" class="highlight-image"></div>
              <div class="highlight-text">Первые дни независимости. Когда не&nbsp;нужно рано вставать, когда
                не&nbsp;нужно отпрашиваться, что&nbsp;бы успеть съездить в&nbsp;магазин, когда удобно.</div>
            </div>
            <div class="text">
              Встреча в&nbsp;городе&nbsp;Н с&nbsp;моими будущими партнерами была плодотворной. Я&nbsp;не&nbsp;смог
              заснуть до&nbsp;пяти утра&nbsp;&mdash; не&nbsp;потому что не&nbsp;спалось, но&nbsp;потому что мысли
              о&nbsp;будущих перспективах просто взрывали мой мозг.
            </div>
            <button class="storie-btn">Читать историю <img src="/img/icons/arrow-right.png" alt="Стрелка"></button>
          </div>
        </div>
      </div>

      <div class="success-stories-block success-stories-block--third">
        <div class="storie-foto">
          <img src="/img/images/beautymaster.png" alt="Стилист">
        </div>
        <div class="description-storie">
          <div class="title-h3">Салон красоты &laquo;Эмират&raquo;</div>
          <div class="description">
            <div class="highlight">
              <div class="highlight-img"><img src="/img/icons/redSquare.png" alt="Ромбы" class="highlight-image"></div>
              <div class="highlight-text">Когда&nbsp;же появилась возможность открыть свой бизнес, я&nbsp;рассматривала
                различные варианты, изучала всевозможные направления.</div>
            </div>
            <div class="text">

            </div>
            <button class="storie-btn">Читать историю <img src="/img/icons/arrow-right.png" alt="Стрелка"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END  success -->

<!-- START anyquestion -->
<section class="select select--down">
  <div class="select-wrapper select-wrapper--down">
    <div class="select-question">
      <div class="select-question__text">Есть вопросы?</div>
      <div class="select-question__text-down">Задайте интересующие вас вопросы
        онлайн помощнику</div>
    </div>
    <div class="select-buttons">
      <button class="select-buttons__red"> <img src="/img/icons/rocket.png" alt="Иконка"> Онлайн помощник</button>
    </div>
  </div>
</section>
<!--END  anyquestion -->