<section class="block-header">
  <!--START header-->
  <header class="header">
    <div class="header-menu container">
      <div class="header-menu__buttons">
        <button class="buttons__personal">Личный кабинет</button>
        <button class="buttons__services">Каталог услуг</button>
      </div>
      <div class="header-menu__seporter">
        <a href="#" class="seport-link__icon"><img src="./img/icons/rocketInRedCircle.png" alt="rocketInRedCircle"></a>
        <a href="#" class="seport-link">Онлайн помощник</a>
      </div>
    </div>
  </header>
  <!-- END header-->

  <!-- START  main description -->
  <div class="project-description" id="back-to-start">
    <div class="project-description__text container">
      <div>
        <a href="#back-to-start" class="header-menu__log">
          <img src="./img/logo/logoMyBusiness.svg" alt="logo">
        </a>
      </div>
      <h1 class="title-h1">Мой бизнес&nbsp;&mdash; цифровая платформа для тех, кто хочет открыть и&nbsp;развивать свой
        бизнес</h1>
    </div>
  </div>
  <!--END  main description -->

</section>